.App {
  text-align: center;
  margin: 0 auto;
}
.body {
  display: flex;
  max-width: 100%;
  min-width: 100%;
}

.body-content {
  width: 50%;
  margin-left: 80px;
}

.fab {
  color: rgb(185, 81, 81);
  font-size: 50px;
}

.login-p {
  font-size: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  text-align: center;
  font-weight: 900;
  font-size: 60px;

  background: linear-gradient(
    -45deg,
    rgb(207, 125, 196) 20%,
    rgb(55, 31, 161) 40%,
    rgb(158, 44, 44) 55%,
    rgb(114, 180, 201) 80%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 3.5s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
